*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%; /*esto hace que 1rem equivalga a 10px*, el rem se usa para que sea responsive (usarlo primordialmente con el texto), es parecido al % */
    font-family: Montserrat,sans-serif;
}

header{
    background-color: indigo;
    opacity: 50%;
    margin-top: 0rem;
}
.headerTitle{
    font-size: 3.5rem; 
    color: white; 
    text-align: center;
    padding-top: 2%;
}
.listHeader{ /*contenedor*/
    list-style: none;
    width: 100%; 
    display: flex;
    justify-content: center; /*funciona con el flex*. align sirve para alinear vertical, justify content para horizontal*/
}
.listHeader a{ /*contenido (texto) del contenedor*/
    color: white;
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
}
.listHeader li{
    display: inline-block; /*pone la lista en horizontal*/
}
.listHeader li a{
    padding: 10px;
}
.listHeader li a:hover{
    color: darkgoldenrod;
}
.scrollImg{
    width: 100%; 
    display: flex;
    justify-content: center;
}
.primerSection{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.primerSection h3{
    font-size: 3.4rem;
    color: white;
    justify-content: center;
    background-image: linear-gradient(210deg, #70d3ff 0, #357cd4 50%, #002f5b 100%);
    padding: 2%;
}
.primerSection h4{
    font-size: 3rem;
    color:blueviolet;
    padding: 2%;
}
.primerSection p{
    font-size: 1.5rem;
    color: blueviolet;
}

.segundaSection{
    width: 100%; 
    display: flex;
    justify-content: center;
    margin-right: 5px;
    margin-left: 5px;
}
.planEst{
    background-color: #002f5b;
    margin-right: 10px;}
.planEst h3{
    font-size: 3rem;
    color: white;
    margin-left: 10px;
}
.planEst p{
    font-size: 1.5rem;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.planEst img{
   margin-left: 350px;
   width: 300px;
}
.temas{
background-color: #0cd4e6;
}
.temas h4{
    font-size: 2.5rem;
    color:black;
    padding: 2%;
}
.temas div{
    color: black;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    padding: 2%;
    margin-left: 30px;
}
.form{
    width: 100%; 
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

footer{
    background-color: indigo;
    opacity: 50%;
    margin-top: 0rem;
}
footer p{
    font-size: 1.5rem; 
    color: white; 
    text-align: center;
    justify-content: center;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
}