* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    left: 0px;
    right: 0px;
  }
  #imagen{
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #imagen img{
    width: 400px;
    
  }
.boton {
    position: absolute;
    padding: 12px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all ease-in-out 0.5s;
}